<mat-card class="my-card">
  <mat-card-header>
    <mat-card-title>Homer Simpson</mat-card-title>
    <mat-card-subtitle>Duff!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
       src="http://assets.stickpng.com/thumbs/5a0c40a65a997e1c2cea116c.png"
       alt="Homer Simpson">
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">LIKE</button>
    <button mat-button color="primary">SHARE</button>
  </mat-card-actions>
</mat-card>
